body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
  }
  
  .scroll-container {
    background: rgb(7, 7, 7);
    width: 35rem;
    padding: 30px;
  }
  
  .scroll-div {
    margin: 0 auto;
    width: 500px;
    max-width: 50ch;
    height: 500px;
    background: rgb(7, 7, 7);
    overflow: hidden;
    overflow-y: scroll;
  }
  
  .scroll-object {
    padding: 20px;
  }